<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Blog</h1>
        <a href="/admin" class="btn btn-primary mb-4">Yeni Yazı Ekle</a>

        <% posts.forEach((post, index) => { %>
            <div class="post">
                <h2><a href="/post/<%= index %>"><%= post.title %></a></h2>
                <small><%= post.date %></small>
                <hr>
            </div>
        <% }) %>
    </div>
</body>
</html>
